<a href="https://colab.research.google.com/github/jahnvishukla2023-hash/exp-3/blob/main/Study_of_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#EXPERIMENT NO.-3
##Jahnvi Shukla
##25070123055
##ENTC-A3
#Title: Study of List and Various Opeations on it

In [ ]:
##Python Lists
thislist = ["orange", "grapes", "kiwi"]
print(thislist)

['orange', 'grapes', 'kiwi']

In [ ]:
#List length
thislist = ["orange", "grapes", "kiwi"]
print(len(thislist))

3

In [ ]:
#A list with strings, integers and boolean values:
list1 = ["xyz",45,False,30,"female",40.5,3+2j]
list1

['xyz', 45, False, 30, 'female', 40.5, (3+2j)]

In [ ]:
#Access items
thislist = ["orange", "grapes", "kiwi"]
print(thislist[1])

grapes

In [ ]:
#Reverse or negative inexing
thislist = ["orange", "grapes", "kiwi"]
print(thislist[-2])

grapes

In [ ]:
#Slicing
thislist = ["orange", "grapes", "kiwi", "apple", "banana", "cherry"]
print(thislist[2:5])

['kiwi', 'apple', 'banana']

In [ ]:
#Slicing
thislist = ["orange", "grapes", "kiwi", "apple", "banana", "cherry"]
print(thislist[:4])

['orange', 'grapes', 'kiwi', 'apple']

In [ ]:
thislist = ["orange", "grapes", "kiwi", "apple", "banana", "cherry"]
print(thislist[-3:])

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["orange", "grapes", "kiwi", "apple", "banana", "cherry"]
print(thislist[-3:-1])

['apple', 'banana']

In [ ]:
thislist = ["orange", "grapes", "kiwi", "apple", "banana", "cherry"]
print(thislist[-3:])

['apple', 'banana', 'cherry']

In [ ]:
#Change item value
thislist = ["orange", "grapes", "kiwi", "apple", "banana", "cherry"]
thislist[2] = "blackcurrent"
print(thislist)

['orange', 'grapes', 'blackcurrent', 'apple', 'banana', 'cherry']

In [ ]:
#Append items
thislist = ["orange", "grapes", "kiwi"]
thislist.append("apple")
print(thislist)

['orange', 'grapes', 'kiwi', 'apple']

In [ ]:
#Insert items
thislist = ["orange", "grapes", "kiwi"]
thislist.insert(2,"apple")
print(thislist)

['orange', 'grapes', 'apple', 'kiwi']

In [ ]:
#Extend list
thislist = ["orange", "grapes", "kiwi"]
mylist = ["apple", "banana", "chery"]
thislist.extend(mylist)
print(thislist)

['orange', 'grapes', 'kiwi', 'apple', 'banana', 'chery']

In [ ]:
#Searching item
7 in [3,4,5]

False

In [ ]:
4 in [3,4,5]

True

In [ ]:
#Repetition
list = (' Symbi ') * 4
list

' Symbi  Symbi  Symbi  Symbi '

In [ ]:
numbers = [12, 15, 17, 20, 25]
print("Elements from index 1 to 3", numbers[1:4])
print("First three elements", numbers[0:3])
print("Elements from index 2 onwards(Reverse indexing)", numbers[-3:])
print("All elments", numbers[:])

Elements from index 1 to 3 [15, 17, 20]
First three elements [12, 15, 17]
Elements from index 2 onwards(Reverse indexing) [17, 20, 25]
All elments [12, 15, 17, 20, 25]

In [ ]:
marks = [67, 78, 59, 75, 70]
print("Maximum marks are:", max(marks))
print("Minimum marks are:", min(marks))
print("Total marks are:", sum(marks))
print("Number of students:", len(marks))
print("Average marks", [sum(marks)/len(marks)])
marks.sort()
print(marks)

Maximum marks are: 78
Minimum marks are: 59
Total marks are: 349
Number of students: 5
Average marks [69.8]
[59, 67, 70, 75, 78]

In [ ]:
list = ["soap", "toothpaste", "fruits", "vegetables", "snacks", "flour"]
print("Grocery list:", list)
list.insert(2,"dishwash")
print("Insert an item: ", list)
list.remove("snacks")
print("Remove an item: ", list)
print("Final list:", list)

Grocery list: ['soap', 'toothpaste', 'fruits', 'vegetables', 'snacks', 'flour']
Insert an item:  ['soap', 'toothpaste', 'dishwash', 'fruits', 'vegetables', 'snacks', 'flour']
Remove an item:  ['soap', 'toothpaste', 'dishwash', 'fruits', 'vegetables', 'flour']
Final list: ['soap', 'toothpaste', 'dishwash', 'fruits', 'vegetables', 'flour']

In [ ]:
list = ["jahnvi", "falak", "hiranya", "divisha"]
print("List of contcts:", list)
list.insert(4,"rivya")
print("Add a new contact: ", list)
list.remove("divisha")
print("Delete a contact: ",list)
list.sort()
print("Contacts alphabetically: ", list)

List of contcts: ['jahnvi', 'falak', 'hiranya', 'divisha']
Add a new contact:  ['jahnvi', 'falak', 'hiranya', 'divisha', 'rivya']
Delete a contact:  ['jahnvi', 'falak', 'hiranya', 'rivya']
Contacts alphabetically:  ['falak', 'hiranya', 'jahnvi', 'rivya']

In [ ]:
list1 = [20,30,50,60,40,10,70]
print(list1[1:3])
print(list1[1:3:1])
print(list1[1:5:2])
print(list1[1:4:3])
print(list1[6:4:-1])
print(list1[-2:-4:-2])

[30, 50]
[30, 50]
[30, 60]
[30]
[70, 10]
[10]

In [ ]:
#Temperature analysis
temp = [24, 23, 26, 21, 27, 25, 22, 20, 29, 28]
print("The temperature of first 5 days:", temp[0:5])
print("The temperature of last 5 days:", temp[-5:])
print("Highest temperature:", max(temp))
print("Lowest temperature:", min(temp))
print("Average temperature:", [sum(temp)/len(temp)])

The temperature of first 5 days: [24, 23, 26, 21, 27]
The temperature of last 5 days: [25, 22, 20, 29, 28]
Highest temperature: 29
Lowest temperature: 20
Average temperature: [24.5]

In [ ]:
#Daily expense tracker
expense = [100, 250, 150, 275, 300, 200, 320]
print("The total expense is:", len(expense))
print("The average expense is:", [sum(expense)/len(expense)])
print("The highest spending day is:", max(expense))
print("The lowest spending day is:", min(expense))

The total expense is: 7
The average expense is: [227.85714285714286]
The highest spending day is: 320
The lowest spending day is: 100